<button (click)="getPosts()">getPosts</button>
<button (click)="getPost()">getPost</button>
<button (click)="getPostByUserId()">getPostByUserID</button>
<button (click)="addPost()">addPost</button>
<button (click)="updatePost()">updatePost</button>
<button (click)="deletePost()">deletePost</button>
<button (click)="changePost()">changePost</button>
<br>
<button (click)="deletePostProducingError()">deletePostProducingError</button>
<br>
<button (click)="getPostsWhereShowedFullObject()">getPostsWhereShowedFullObject</button>
<br>

<h3>dane z API - wyswietlone synchronicznie</h3><br>
<button (click)="getPostsDoWyswietleniaBezAsyncPipe()">getPostsDoWyswietleniaBezAsyncPipe</button>
<br>
<ng-container *ngFor="let element of postsToShow">
  {{element.body}}<br>
</ng-container>
<br>

<h3>dane z API - wyswietlone asynchronicznie (pipe async)</h3><br>
<button (click)="getPostsZUzycieAsyncPipe()">getPostsZUzycieAsyncPipe</button>
<br>
<ng-container *ngFor="let element of postsToShowUsingAsyncPipe$ | async">
  {{element.body}}<br>
</ng-container>
<br>

<h3>dane z API - wyswietlone asynchronicznie (pipe async) z obsluga bledow i rethrow oryginalnego observable</h3><br>
<button (click)="getPostsZUzycieAsyncPipeIObslugaBledu()">getPostsZUzycieAsyncPipeIObslugaBledu</button>
<br>
<ng-container *ngFor="let element of postsToShowUsingAsyncPipe2$ | async">
  {{element.body}}<br>
</ng-container>
<br>
